version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: newdemoproject_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: ..
      dockerfile: deployments/Dockerfile
    container_name: newdemoproject_backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
      - DB_SSLMODE=disable
      - PORT=8080
      - JWT_SECRET=default_super_secret_key
      - CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://logistic-demo-fe.onrender.com,https://logistic-demo-fe-532n.vercel.app
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
